<div *ngIf="!user" class="wrapper">
  <div  class="page-header section-dark" style="background-image: url('assets/img/background.jpg')">
    <div class="content-center">
      <div class="container">
        <!-- <h2 class="presentation-subtitle text-center">Logowanie biometryczne</h2> -->
      </div>
    </div>
  </div>
</div>
<div *ngIf="user && welcome" class="wrapper">
  <div  class="page-header section-dark">
    <div class="content-center">
      <div class="container">
        <h2 class="presentation-title text-center">Witaj {{user}}!</h2>
      </div>
    </div>
  </div>
</div>
<div *ngIf="user && !welcome">
  <img class="lottoimg" src="assets/img/lotto.png">
</div>